@* @model IEnumerable<DAL.BlogInfo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfCreation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpInfo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfCreation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlogUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpInfo.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BlogId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BlogId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BlogId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 *@
 @model IEnumerable<DAL.BlogInfo>

@{
    ViewData["Title"] = "Index";
}

<h1>Blog ListFor: deep1223@gmail.com</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title) -By @Html.DisplayFor(modelItem => item.EmpInfo.Email)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Subject)</p>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.DateOfCreation)</p>
                    <p class="card-text link-dark">
                        <a href="@item.BlogUrl" target="_blank">@Html.DisplayFor(modelItem => item.BlogUrl)</a>
                    </p>
                    
                    <a asp-action="Edit" asp-route-id="@item.BlogId" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.BlogId" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    }
</div>
