@model IEnumerable<DAL.EmpInfo>

@{
    ViewData["Title"] = "Index";
}

<h1>Employee List</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr class="table-dark">
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfJoining)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class="table-success">
            <td>
               @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfJoining)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassCode)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Email" class="btn btn-danger">Edit</a> |
                
                    <a asp-action="Delete" asp-route-id="@item.Email" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
